.item {
  margin: 2rem 5rem;

  p{
      margin: 0 0 0.5rem;
  }

  i {
    font-size: 7rem;
    color: #1d9d73;
    margin-bottom: 2rem;
  }

  #number {
    color: #1d9d73;
    font-size: 3rem;
  }

  #description {
    color: #333333;
    font-size: 1.3rem;
  }
}
