<div class="footer">
  <div class="logo">
    <img id="title-img" src="../../../../assets/images/favicon.ico" />
    <span id="title">newsletter</span>
  </div>

  <div class="icons">
    <i
      nz-icon
      nzType="facebook"
      nzTheme="outline"
      nzTooltipTitle="Facebook"
      nzTooltipPlacement="top"
      nz-button
      nz-tooltip
    ></i>
    <i
      nz-icon
      nzType="twitter"
      nzTheme="outline"
      nzTooltipTitle="Twitter"
      nzTooltipPlacement="top"
      nz-button
      nz-tooltip
    ></i>
    <i
      nz-icon
      nzType="skype"
      nzTheme="outline"
      nzTooltipTitle="Skype"
      nzTooltipPlacement="top"
      nz-button
      nz-tooltip
    ></i>
    <i
      nz-icon
      nzType="google-plus"
      nzTheme="outline"
      nzTooltipTitle="Google+"
      nzTooltipPlacement="top"
      nz-button
      nz-tooltip
    ></i>
    <i
      nz-icon
      nzType="instagram"
      nzTheme="outline"
      nzTooltipTitle="Instagram"
      nzTooltipPlacement="top"
      nz-button
      nz-tooltip
    ></i>
  </div>
</div>
