<div class="header">
  <ul nz-menu nzMode="horizontal">

    <li>
      <img id="unitbv-img" src="../../../../assets/images/unitbv.png" />
    </li>

    <li>
      <!-- <img id="unitbv-img" src="../../../../assets/images/favicon.ico" /> -->
      <span id="title">Newsletter</span>
    </li>

    <div class="menu">
      <li nz-menu-item [nzSelected]="checkUrl('homepage')" >
        <a href="/homepage">{{ "header.home-tab" | translate }}</a>
      </li>
      <li nz-menu-item [nzSelected]="checkUrl('current-number')" >
        <a href="/current-number">{{ "header.current-number-tab" | translate }}</a>
      </li>
      <li nz-menu-item [nzSelected]="checkUrl('archive')" >
        <a href="/archive"> {{ "header.archive-tab" | translate }}</a>
      </li>
      <li nz-menu-item [nzSelected]="checkUrl('1')">
        <a href="/">{{ "header.subscription-tab" | translate }}</a>
      </li>

      <div id="search" *ngIf="isSearchVisible">
        <nz-input-group
          nzSearch
          [nzSuffix]="suffixCleanButton"
          [nzPrefix]="prefixIcon"
        >
          <input
            nz-input
            id="input-search"
            [(ngModel)]="searchInput"
            type="text"
            placeholder="{{'header.search-placeholder' | translate }}"
            (keydown.enter)="search()"
          />
        </nz-input-group>
      </div>
      <div class="icons">
        <i
          *ngIf="!isSearchVisible"
          class="search-icon"
          nz-icon
          nzType="search"
          (click)="isSearchVisible = !isSearchVisible"
        ></i>
        <i
          *ngIf="isSearchVisible"
          class="search-icon"
          nz-icon
          nzType="close"
          (click)="isSearchVisible = !isSearchVisible"
        ></i>
      </div>
    </div>
  </ul>

  <ng-template #prefixIcon><i nz-icon nzType="search"></i></ng-template>

  <ng-template #suffixCleanButton>
    <i
      nz-icon
      nzType="close"
      nzTheme="outline"
      *ngIf="searchInput"
      (click)="cleanSearchInput()"
      id="clean-btn"
    ></i>
  </ng-template>
</div>
