.ant-menu-horizontal {
  display: flex;

  .ant-menu-item:hover,
  .ant-menu-item-selected {
    color: #1d9d73 !important;
    border-bottom: 2px solid #1d9d73 !important;
  }

  .ant-menu-item {
    color: #222222;
    line-height: 26px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    margin: 1rem 0.5rem 1rem !important;
    display: inline-table;
    align-self: center !important;
  }
}

#search {
  margin: auto 0;
  .ant-input-search-enter-button.ant-input-affix-wrapper {
    border-right: 1px solid #d9d9d9;
    border-radius: 15px;
    animation-name: animation-search;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    &:hover,
    &:focus {
      border-color: #1d9d73 !important;
      box-shadow: 0 0 0 2px rgb(29 157 115 / 20%) !important;
    }
  }
}

.icons {
  align-self: center;
  .search-icon {
    align-self: center !important;
    margin-right: 2rem;
    color: #1d9d73;
    font-size: 20px;
    width: 18px;
    display: block;
    cursor: pointer;
    &:hover {
      color: #a7ddaf;
    }
  }
}

@keyframes animation-search {
  from {
    width: 0;
  }
  to {
    width: 12rem;
  }
}

#unitbv-img {
  width: 18rem;
  margin: 1rem;
}

#title {
  color: #222222;
  line-height: 26px;
  font-size: 36px;
  font-family: "Ubuntu", sans-serif;
  margin: 3rem 2rem 1rem;
  display: inline-table;
}

.menu {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: flex-end;
}
